
$login-primary: #FFD700;
$home-primary: #BBA14F;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;

}


input[type="file"] {
    display: none;
}

:root {
  overflow-x: hidden;
}

input {
  padding: 0 2px;
}

#own-profile {
  width: 100%;
  padding: 20px;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
  background-color: #666;
  .profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
}

.login-button {
  width: 100%;
}
/*Range selector*/ 
#pref-selector {
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }


  label {
    cursor: pointer;
    // text-indent: -9999px;
    width: 200px;
    height: 100px;
    background: pink;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  

  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  p {
    display: flex;
    font-size: 40px;
    padding: 30px 30px;
    gap:60px;
  }

  input:checked + label {
    background: lightblue;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 130px;
  }
}

#navbar {
    padding: 0 20px;
    height: 75px;
    width: 100%;
    background: linear-gradient(to top, #8f6B29, #FDE08D, #DF9F28);
    opacity: .5;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    .logo {
        margin-right: 1600px;
    }
}



#login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $home-primary;
  .login-form {
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 200px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#range-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #8f6B29;
  
  .arrow-border {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    width: 600px;
    height: 800px;
    margin: 0 10px;
  }
    
    .person-card {
      position: absolute;
      width: 500px;
      height: 800px;
      border-radius: 10px;
      background-color: whitesmoke;
      img {
        pointer-events: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
    #post-carousel {
        // position: ;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 650px;
        width: 100%;
        background-color: red;

        img {
          object-fit: cover;
        }

        .image-post {
          position: absolute;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 20px;
          top: 0;
          left: 0
        }
        .image-post-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 15px;
        }
        .image-post-footer {
          position: absolute;
          bottom: 10px;
          display: flex;
          left: calc(50% - 20px);
        }
    }
    #bio-container {
        // padding: 10px;
        // display: flex;
        // justify-content: center;
        padding: 5px 10px;
        height: 20px;
    }
    .arr {
      background: $home-primary;
      display: block;
      float: left;
    }
    .arr-prev {
      width: 50px;
      height: 50px;
      margin: 25px;
      transform: rotate(135deg);
    }
    .arr-prev:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      width: 50px;
      height: 50px;
    }
    .arr-next {
      width: 50px;
      height: 50px;
      margin: 25px;
      transform: rotate(315deg);
    }
    .arr-next:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 2px;
      width: 50px;
      height: 50px;
    }
}

#channels-container {
  .channel {
    display: flex;
    gap: 10px;
    height: 100px;
  }
}

#image-upload-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 500px;
    border: 2px solid darkgray;
    #icon-upload-style {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #FFD700;
    }
}
#profile-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.prof-pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.image-dots {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $home-primary;
  opacity: .3;
}
.image-dots-highlighted {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $home-primary;
  opacity: .6;
}
#create-account {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD700;
    .inner-form {
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        width: 800px;
        height: 800px;
        .account-buttons {
            display: flex;
            gap: 30px
        }
        .circle {
            background-color: lightblue;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
}

.center-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;

}

#app {
    min-height: 100vh;
    background-color: whitesmoke;
}

/*Arrow Styling*/ 
.arrow-rotate {
    transform: rotate(180deg);
}
.arrow {
    cursor: pointer;
    height: 30px;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    width: 20px;
    position: relative;
    $transition-time: .15s;
    
    &-top,
    &-bottom {
      background-color: #666;
      height: 4px;
      left: -5px;
      position: absolute;
      top: 50%;
      width: 100%;
      
      &:after {
        background-color: $login-primary;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition: all $transition-time;
      }
    }
    
    &-top {
      transform: rotate(45deg);
      transform-origin: bottom right;
      
      &:after {
        left: 100%;
        right: 0;
        transition-delay: 0s;
      }
    }
    
    &-bottom {
      transform: rotate(-45deg);
      transform-origin: top right;
      
      &:after {
        left: 0;
        right: 100%;
        transition-delay: $transition-time;
      }
    }
    
    &:hover & {
      
      &-top:after {
        left: 0;
        transition-delay: $transition-time;
      }
  
      &-bottom:after {
        right: 0;
        transition-delay: 0s;
      }
    }
    
    &:active {
      transform: translateX(-50%) translateY(-50%) scale(0.9);
    }
  }
  
  